.button1 {
    margin: 25px;
    width: 120px;
    height: 50px;
}
.button2 {
    margin: 27px;
    width: 120px;
    height: 50px;
}
.button3 {
    margin: 29px;
    width: 120px;
    height: 50px;
}
.button4 {
    margin: 31px;
    width: 120px;
    height: 50px;
}
.button5 {
    margin: 33px;
    width: 120px;
    height: 50px;
}
.button6 {
    margin: 35px;
    width: 120px;
    height: 50px;
}
.button7 {
    margin: 37px;
    width: 120px;
    height: 50px;
}
.buttonex2 {
    margin-left: 50%;
    margin-bottom:1%;
    width: 140px;
    height: 80px;
    
}

